@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

$primary-clr: #fff;
$secondary-clr: #131313;
$player-clr: #598db1;
$miss-clr: #33c782;
$hit-clr: #e2062c;
$hover: #1d1d1d;
$hover-ship: #21f286;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat';
  font-weight: 600;
}

.navbar,
.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  text-transform: uppercase;
  letter-spacing: 3px;
  justify-content: flex-start;
}
.footer {
  font-size: 1.3rem;
  a {
    text-decoration: none;
    color: $secondary-clr;
  }
  i {
    color: $secondary-clr;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 20px;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    flex: 1;
    gap: 40px;
    background-image: url('/dist/assets/main1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: rgba($primary-clr, $alpha: 0.3);
    }
    .page-title {
      font-size: 5rem;
      color: $secondary-clr;
      letter-spacing: 2rem;
      z-index: 2;
      @media (max-width: 768px) {
        font-size: 3rem;
        letter-spacing: 1rem;
      }
    }
  }

  .boards-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 20px;
  }
  .setup-board,
  .player,
  .computer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    place-content: center;
    gap: 1px;
    padding: 1px;
    background-color: $secondary-clr;
  }
  .player,
  .setup-board {
    background: rgb(92, 70, 219);
    background: radial-gradient(
      circle,
      rgb(15, 222, 250) 50%,
      rgba(0, 1, 2, 0.995) 100%
    );
  }
  .computer {
    background: rgb(219, 70, 70);
    background: radial-gradient(
      circle,
      rgb(245, 44, 44) 50%,
      rgba(0, 1, 2, 0.995) 100%
    );
  }
}
.start-game,
.rotate-btn {
  position: relative;
  display: inline-block;
  background-color: $secondary-clr;
  color: $primary-clr;
  border: none;
  outline: none;
  padding: 15px 20px;
  z-index: 2;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: rgba($hover, $alpha: 1);
  }
}
.rotate-btn {
  z-index: 0;
}
.start-game {
  animation: scale 1.7s ease-in-out infinite alternate;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.cell {
  height: 100%;
  width: 100%;
  background-color: $primary-clr;
}

.ship-hover {
  background-color: #21f286;
  transition: all 0.2s ease-in-out;
}
.player-miss {
  background-color: $miss-clr;
  transition: all 0.1s ease-in-out;
}
.cpu-miss {
  background-color: $miss-clr;
  transition: all 1s ease-in-out;
}
.hit {
  background-color: $hit-clr !important;
  transition: all 0.1s ease-in-out;
}
.taken {
  background-color: $player-clr;
}

.popup {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  background-color: $secondary-clr;
  color: $primary-clr;
  height: 200px;
  width: 300px;
}
.player-popup {
  display: none;
  background-color: $secondary-clr;
  color: #fff;
  height: 100px;
  width: 400px;
}
.show-popup {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.modal-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($primary-clr, $alpha: 0.9);
  .modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 600px;
    background-color: $secondary-clr;
    gap: 20px;
    z-index: 25;
    .modal-text {
      color: $primary-clr;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    .modal-btn {
      display: inline-block;
      cursor: pointer;
      background-color: $primary-clr;
      color: $secondary-clr;
      border: none;
      outline: none;
      padding: 20px 30px;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
